.rotate-border {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;

  --offset: 3px;
}

.rotate-border::before {
  content: "";
  background-image: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

.rotate-border::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  inset: var(--offset);
  position: absolute;
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
